---
# Finder configuration 
- name: Show hard drive on desktop
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowHardDrivesOnDesktop
    type: bool
    value: True
  notify: Restart Finder
  tags: [finder, desktop]

- name: Show external hard drives on desktop
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowExternalHardDrivesOnDesktop
    type: bool
    value: True
  notify: Restart Finder
  tags: [finder, desktop]

- name: Show removable media on desktop
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowRemovableMediaOnDesktop
    type: bool
    value: True
  notify: Restart Finder
  tags: [finder, desktop]

# Dock configuration
- name: Hide the Dock automatically
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: True
  notify: Restart Dock
  tags: dock

# System appearance
- name: Set accent color to blue
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleAccentColor
    type: integer
    value: 4
  tags: appearance

# Filesystem preferences
- name: Show all file extensions
  community.general.osx_defaults:
    domain: com.apple.finder
    key: AppleShowAllExtensions
    type: bool
    value: True
  notify: Restart Finder
  tags: [finder, files]

- name: Save screenshots to Downloads
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: location
    type: string
    # value: "{{ ansible_env.HOME }}/Downloads"
    value: "{{ ansible_facts['env']['HOME'] }}/Downloads"
  tags: [files, screenshots]
